---
import { getCollection } from "astro:content";
const allProjects = await getCollection("projects");

import Button from "./Button.astro"
---

<section id="featured">
    <div class="box">
        <h2>I build <br>all kinds <br>of sites</h2>
        <p>I'm not the expert in your industry — you are. <br> Whatever industry you're in, I work with you to showcase that expertise through your website.</p>
        <div class="gallery">
            {allProjects.map((project) =>
                <a href={`/projects/${project.slug}/`}>
                    <video src={project.data.video.desktopUrl} autoplay muted loop playsinline></video>
                </a>
            )}
        </div>
        <Button href="work" text="Wanna See More?" divClass="featured-button"/>
    </div>
</section>

<style>
    section {
        @media (width > 1024px) {
            display: flex;
            justify-content: center;
        }

        >.box {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 40px 20px;
            align-items: center;

            @media (width > 431px) {
                padding: 80px 80px 160px 80px;
                gap: 40px;
            }

            @media (width > 1024px) {
                padding: 80px;
                width: 1280px;
            }

            >h2 {
                font-size: var(--h4);
                text-align: center;

                @media (width > 431px) {
                    font-size: var(--h3);
                    width: 500px;
                }

                @media (width > 1024px) {
                    width: 100%;
                }

                > br {
                    @media (width > 431px) {
                        display: none;
                    }
                }
            }

            >p {
                font-size: var(--large);
                text-align: center;

                @media (width > 1024px) {
                    width: 830px;
                }

                >br {
                    display: none;

                    @media (width > 1024px) {
                        display: block;
                    }
                }
            }

            >.gallery {
                display: flex;
                flex-direction: column;
                gap: 16px;

                @media (width > 431px) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }

                @media (width > 1024px) {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                }

                > a  {
                    transition: var(--transition);

                    &:hover {
                        transform: translateY(-5px) !important;
                    }

                    > video {
                        width: 100%;
                        border: 1px solid var(--purple);
                    }
                }
            }
        }
    }
</style>

<script>
    //@ts-nocheck
	const mobileQuery = window.matchMedia('(max-width: 431px)')

    if (mobileQuery.matches) {
        let tl = gsap.timeline({
            scrollTrigger: {
                trigger: "#featured",
                start: "top 80%",
                end: "80% 50%",
                scrub: true,
                id: "scrub"
            },
            defaults: {ease:"expo.out"} 
        })

        tl.fromTo('#featured > .box > h2', {x:-200, opacity: 0}, {x:0, opacity: 1})
        tl.fromTo('#featured > .box > p', {x:-200, opacity: 0}, {x:0, opacity: 1})
        tl.fromTo('#featured > .box > .gallery > *', {x:-200, opacity: 0}, {x:0, opacity: 1, stagger:.5})
        tl.fromTo('#featured > .box > .featured-button', {x:-200, opacity: 0}, {x:0, opacity: 1})
    }

    else {
        let tl = gsap.timeline({
            scrollTrigger: {
                trigger: "#featured",
                start: "10% 80%",
                end: "70% 50%"
            },
            defaults: {ease:"expo.out", duration: 2} 
        })

        tl.fromTo('#featured > .box > h2', {x:-200, opacity: 0}, {x:0, opacity: 1})
        tl.fromTo('#featured > .box > p', {x:-200, opacity: 0}, {x:0, opacity: 1}, "<")
        tl.fromTo('#featured > .box > .gallery > * > *', {y:200, opacity: 0}, {y:0, opacity: 1}, "<")
        tl.fromTo('#featured > .box > .featured-button', {x:-200, opacity: 0}, {x:0, opacity: 1}, "<")
    }
</script>