---
const allProjects = await Astro.glob('../pages/projects/*.md')
---

<div class="grid">
    {allProjects.map((project) =>
        <a href={project.url}>
            <video src={project.frontmatter.video.desktopUrl} autoplay muted loop playsinline></video>
        </a>
    )}
</div>

<style>
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;

        @media (width > 431px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (width > 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }

        >a {
            >video {
                width: 100%;
                border: 1px solid var(--purple);
            }
        }
    }
</style>